<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wasm -> {{.WasmFile}}</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/default.css">
    <script type="application/javascript" src="/resources/javascript/wasm_exec.js"></script>
    <script type="application/javascript">
        async function run(fileUrl) {
            try {
                const file = await fetch(fileUrl);
                const buffer = await file.arrayBuffer();
                const go = new Go();
                const {instance} = await WebAssembly.instantiate(buffer, go.importObject);
                go.run(instance);
            } catch (err) {
                console.error(err);
            }
        }

        setTimeout(() => run(`{{.WasmFile}}`));
    </script>
</head>
<body>
<canvas id="canvas"></canvas>
</body>
</html>